<section class="custom-events-bg">

    <section class="uk-section">
        <div class="uk-container">
            <h2 class="uk-text-bold" style="color: white;">EVENTS</h2>


            <div class="uk-grid-medium uk-child-width-expand@m uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small" style="box-shadow: none;">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" data-uk-grid>
                                <div class="uk-width-auto">
                                    <span uk-icon="icon: calendar; ratio: 1.2"></span>
                                </div>
                                <div class="uk-width-expand">
                                    <h6 class="uk-margin-remove-bottom uk-text-bold">grthr</h6>
                                    <p class="uk-text-meta uk-margin-remove-top uk-text-small"><time datetime="2016-04-01T19:00">rthrthrth</time></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a><img src="https://unsplash.it/1920/1080/?random=15" width="620" max-height="350" alt=""></a>
                        </div>
                        
                        <div class="uk-card-body">
                            <h4 class="uk-margin-small-bottom uk-text-bold">Mittwochsfliegen</h4>
                        </div>
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" data-uk-grid>
                                <div class="uk-width-auto">
                                    <span uk-icon="icon: calendar; ratio: 1.2"></span>
                                </div>
                                <div class="uk-width-expand">
                                    <h6 class="uk-margin-remove-bottom uk-text-bold">Ort: Modellflugplatz CLZ</h6>
                                    <p class="uk-text-meta uk-margin-remove-top uk-text-small"><time datetime="2016-04-01T19:00">Uhrzeit: 2016-04-01T19:00</time></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Mittwochsfliegen</h3>
                        </div>
                        <div class="uk-card-media-top">
                            <img src="https://unsplash.it/1920/1080/?random=18" alt="">
                        </div>
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" data-uk-grid>
                                <div>
                                    <h6 class="uk-margin-remove-bottom uk-text-bold">Ort: Modellflugplatz CLZ</h6>
                                    <p class="uk-text-meta uk-margin-remove-top uk-text-small"><time datetime="2016-04-01T19:00">Uhrzeit: 2016-04-01T19:00</time></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="uk-grid-medium uk-child-width-expand@m uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container">
                            <img src="https://unsplash.it/1920/1080/?random=38" alt="" uk-cover>
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Media Left</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container">
                            <img src="https://unsplash.it/1920/1080/?random=48" alt="" uk-cover>
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Media Left</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="uk-text-center uk-margin-large">
                <a class="uk-button uk-button-default" style="color:white;" href="#">MEHR EVENTS</a>
            </p>

        </div>
    </section>

</section>